In [13]:
import pandas as pd
from sqlalchemy import create_engine

In [18]:
COVID19_data = "Resources/Corona Virus - combined.csv"
COVID19_df = pd.read_csv(COVID19_data)
COVID19_df = COVID19_df.fillna(value="Null")
COVID19_df = COVID19_df
COVID19_df['date'] = pd.to_datetime(COVID19_df['date'])
COVID19_df.head()

,location_id,date,province_state,country_region,lat,long,recovered_to_date,new_recovered,deaths_to_date,new_deaths,confirmed_to_date,new_confirmed
0,1,2020-01-22,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,1,1
1,1,2020-01-23,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,9,8
2,1,2020-01-24,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,15,6
3,1,2020-01-25,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,39,24
4,1,2020-01-26,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,60,21

### Connect to local database

In [20]:
rds_connection_string = "postgres:postgres@localhost:5432/COVID-19_2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [21]:
engine.table_names()

['combined']

### Use pandas to load csv converted DataFrame into database
Commented out because data is already in database.

In [22]:
COVID19_df.to_sql(name='combined', con=engine, if_exists='append', index=False)